

body{
 
  line-height: 1.4;
  background-color: #1c77ac;
  color: black;
  height:100px


}

.App-header {
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
  color: #ffa800;
  background-color: #0f2862;
  box-shadow: 2px 7px 9px black;
  padding: 10px;
  border-radius: 0px 0px 30px 30px;
}
.block1Style{
  background-color: #ffa800;
  width : 70%;
  height: 15vh;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: -5%;
  border-color: #0f2862;
  box-shadow: 2px 6px 15px 	black;
  border-radius: 20px;
  z-index: 1;
  
}

.BetweenStyle{
  background-color:#0f2862;
  margin-left: 42%;
  margin-right: 42%;
  float: left;
  
}
.Img1Style{
  background-color: #ffa800;
  width : 30%;
  height: 350px;
  float: left;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20vh;
  border-color: #0f2862;
  box-shadow: 1px 5px 10px 	black;
  border-radius: 20px;
  z-index: 1;
  
}
.Img2Style{
  background-color: #ffa800;
  width : 250px;
  height: 300px;
  float: left;
  margin-left: 10%;

  margin-top: 2%;
  border-color: #0f2862;
  box-shadow: 1px 5px 10px 	black;
  border-radius: 20px;
  z-index: 1;
  
}
.inputStyle{
  margin-top: -10%;
  margin-left: 31%;
  font-size: 1.09em;
  background-color: rgba(10,10,10,0.5);
  border: 2px solid black;
  box-shadow:1px 2px 5px #0f2862;
  height: 30px;
  color:black;
  width: 90px

}
.optionStyle{
  margin-top: 10%;
  width: 220px;

  margin-left: 5%;
  font-size: 1.09em;
  background-color: rgba(10,10,10,0.5);
  border: 2px solid black;
  box-shadow:1px 2px 5px #0f2862;
  height: 30px;
  color:black;
}
.letButton{
  width:120px;
  padding: 10px;
  
  background-color:#0f2862; border-color:black;
  box-shadow:2px 5px 6px black;
  border-radius:30px;
  color:#ffa800;
  font-style:bold;
}
.HR1{
  margin-top: 110px;
  margin-left: 10%;
  width:80%;
  border-color: #0f2862;
}
.VR1{
  height:290px;
  width:5px;
  margin-top: -210px;
  float: left;
  margin-left: 35%;
  background-color: #0f2862;
}
.VR2{
  height:290px;
  width:5px;
  margin-top: -285px;
  float: left;
  margin-left: 65%;
  background-color: #0f2862;
}
.modal{
  margin-top:-50vh;
  background-color: rgba(17,16,15,0.8);
  width: 80%;
 margin-left: 10%;  
 height: 70vh;
  position: relative;
  border-radius: 20px;
  box-shadow: 1px 5px 6px rgba(10,10,10,0.5);
}
.innerModal{
    
    position: relative;
    margin-bottom: -100px;

}
.overlapDiv2{
  /* position: absolute;
  margin-top: 100px;
 
  z-index: 8;
  overflow: hidden;
  
  height: 450px; */
  text-align: center;
  background-color: rgba(17,16,15,0.8);
  width: 100%;
  height: 350px;
  position: absolute;
  display: none;
  margin-top: 50px;
}

.formS{

  /* margin-left: 5%;
  width: 90%;
  height: 350px;
  margin-top: -400px;
  text-align: center;
  z-index: 0;
  position: relative;
  overflow: visible;
   background-color: #ffa800; */
   display: block;
   text-align: center;
   height: 350px;
   margin-top: 50px;
   background-color: rgba(17,16,15,0.8);
   position: absolute;
   width: 100%;
   z-index: 2;
}
.close{
  float:left;
  margin-top: 5%;
  width:100px ;
  height: 5vh;
  margin-left:45%;
  background-color: #0f2862;
  border:none;
  border-radius:5px;
  color: #ffa800;
  font-size: 1em;
  box-shadow: 1px 2px 10px #1c77ac;
}
.x{
  width:100px;
  padding: 25px;
 
  background-color:#0f2862; border-color:black;
  box-shadow:2px 5px 6px black;
  border-radius:30px;
  color:#ffa800;
  font-style:bold;
  font-size: 1em;

}
.o{
  width:100px;
  padding: 25px;
  margin-left:5%;
  background-color:#0f2862; border-color:black;
  box-shadow:2px 5px 6px black;
  border-radius:30px;
  color:#ffa800;
  font-style:bold;
  font-size: 1em;
}
h1{
  color:#ffa800;
   padding:30px 70px 0px 90px;
   font-size:2em
}
@media screen and (max-width: 520px)
{
 .Img1Style{
   margin-left: 20%;
   width: 60%
 }
 .modal{
   margin-left: 5%;
   width: 90%;
   margin-top: -40%;
   height: 450px;
 }
 h1{
   font-size: 1.5em;
   margin-top: -10px;
 }
  .close{
    margin-top:20px;
    margin-left: 40%;
  }
}


@media screen and (min-width: 525px) and (max-width: 1024px){
  .Img1Style{
    margin-left: 15%;
    width: 70%
  }
  .modal{
    margin-top: -25%;
  }
  .overlapDiv2, .formS{
    height: 10vhpx;
  }
   
  
 

}